:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  
  max-width: 120ch;
  margin: 0 auto;
  padding: 3rem;

}

nav ul,
nav li {
  display: contents;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  flex: 1;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: calc(0.5em - 0.4em);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: calc(0.5em - 0.4em);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
}

label,
button {
  grid-column: 1 / -1;
}

input,
textarea,
button {
  font: inherit;
}

.projects {
  display: grid;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
  display: grid;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
}

.projects article {
  grid-row: span 3;
}

h1 {
  font-size: 300%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 80%;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.stat .label {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.stat .value {
  font-size: 3rem;
  font-weight: 300;
}